POSTGRES_PROD_USER=postgres
POSTGRES_PROD_PASSWORD=postgres
POSTGRES_PROD_DB=business_card
POSTGRES_PROD_PORT=5432

BACKEND_PROD_PORT=3000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/business_card?schema=public

NODE_ENV=production