POSTGRES_DEV_USER=postgres
POSTGRES_DEV_PASSWORD=postgres
POSTGRES_DEV_DB=business_card
POSTGRES_DEV_PORT=5433

BACKEND_DEV_PORT=3001
DEBUG_DEV_PORT=9229

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5433/business_card?schema=public

NODE_ENV=development